#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {



  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100vh;

 
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  width: 100%;





}



.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
padding-left: 30px;
}

.swiper-slide .subtitle {
  font-size: 21px;
  padding-left: 30px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
  padding-left: 30px;
}



